<article
  class="main__block__content"
  [ngStyle]="imgStyle"
  [ngClass]="{'main__block--clickable': item.source}"
  (click)="open(item)"
>

  <div>
    <h3 class="main__block__content__title">{{ item.title }}</h3>
    <h4 class="main__block__content__subtitle" *ngIf="item.datePub">Out {{ item.datePub | date }}</h4>
  </div>

  <img *ngIf="item.type === 'album'" src="assets/svg/album.svg" class="main__block__content__icon">
  <img *ngIf="item.type === 'video'" src="assets/svg/film.svg" class="main__block__content__icon">

</article>