.footer {
  background: $grey;
}
  .footer__content {
    display: flex;
    padding: 1em;
  }
    .footer__content__links, .footer__content__subscribe {
      width: 50%;
    }
      .footer__content__text {
        color: $white;
        margin-left: 1em;
        text-decoration: none;
        vertical-align: middle;
      }
      .footer__content__link {
        display: inline-block;
        height: 2em;
        vertical-align: middle;
      }
      .footer__content__social {
        height: 2em;
        margin-left: 1em;
        opacity: 0.99;
        width: 2em;
      }

    .footer__content__subscribe {
      text-align: right;
    }
      .footer__content__subscribe__input {
        background: none;
        border-color: $white_mid;
        border-style: solid;
        border-width: 0 0 1px;
        color: $white;
        font-family: $font;
        font-size: 1em;
        outline: none;
        vertical-align: middle;
        width: 10em;
      }
      .footer__content__subscribe__button {
        background: none;
        border: 1px solid $white;
        color: $white;
        cursor: pointer;
        font-family: $font;
        font-size: 1em;
        margin-left: 1em;
        padding: 0.2em 1em;
        vertical-align: middle;
      }

@media screen and (max-width:639px) {
  .footer__content {
    display: block;
  }
    .footer__content__social {
      margin: 0 1em 0 0;
    }
    .footer__content__text {
      margin: 0 1em 0 0;
    }
    .footer__content__links, .footer__content__subscribe {
      padding-bottom: 1em;
      text-align: left;
      width: 100%;
    }
      .footer__content__subscribe__input {
        width: 8em;
      }
}
