.main {
  border-top: 1px solid $white_light;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
  .main__block {
    background: $grey;
    height: 320px;
    width: 33.33%;
  }
  .main__block:last-child {
    margin-right: auto;
  }
    .main__block__content {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border-color: $white_light;
      border-style: solid;
      border-width: 0 1px 1px 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 2em;
      position: relative;
      height: 100%;
      width: 100%;
    }
    .main__block__content:nth-child(3n) {
      border-width: 0 0 1px 0;
    }
    .main__block--clickable {
      cursor: pointer;
    }
      .main__block__content__text {
        line-height: 1.5em;
        text-align: justify;
      }
      .main__block__content__title {
        background: $black;
        font-size: 1.3em;
        font-weight: normal;
        letter-spacing: 0.1em;
        padding: 0.3em 1em;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
      }
      .main__block__content__subtitle {
        background: $black;
        font-size: 1em;
        margin-top: 0.2em;
        padding: 0.3em 1em;
        text-align: center;
      }
      .main__block__content__icon {
        border-radius: 0.1em;
        bottom: 1em;
        display: inline-block;
        height: 2em;
        opacity: 0.99;
        position: absolute;
        right: 1em;
        width: 2em;
      }

@media screen and (max-width:639px) {
  .main__block {
    width: 100%;
  }
  .main__block__content {
    border-width: 0 0 1px;
  }
}
@media screen and (min-width: 640px) and (max-width: 960px) {
  .main__block {
    height: 360px;
    width: 50%;
  }
  .main__block__content:nth-child(2n) {
    border-width: 0 0 1px 0;
  }
}
@media screen and (min-width: 1200px) {
  .main__block {
   height: 400px;
  }
}
