<footer class="footer">
  <section class="footer__content">
    <aside class="footer__content__links">
      <img class="footer__content__social" src="assets/social/spotify.svg">
      <img class="footer__content__social" src="assets/social/facebook.svg">
      <img class="footer__content__social" src="assets/social/twitter.svg">
      <img class="footer__content__social" src="assets/social/youtube.svg">
    </aside>
    <aside class="footer__content__subscribe">
      <label class="footer__content__subscribe__label" for="newsletter">Newsletter :</label>
      <input class="footer__content__subscribe__input" type="email" id="newsletter">
      <button class="footer__content__subscribe__button">Subscribe</button>
    </aside>
  </section>
</footer>