<bz-header
  [img]="'./assets/img/header.jpg'"
  [title]="'BURZINSkI'"
  [subtitle]="'music'"
></bz-header>

<main class="main">

  <section class="main__block" *ngFor="let item of list | async">

    <bz-text
      *ngIf="item.type === 'text'"
      [item]="item"
    ></bz-text>

    <bz-item
      *ngIf="item.type !== 'text'"
      [item]="item"
      (openMedia)="openMedia($event)"
    ></bz-item>

  </section>

</main>

<bz-media
  [opened]="opened | async"
  [item]="selectedItem | async"
  (closeMedia)="closeMedia()"
></bz-media>