<bz-header
  [img]="(header | async)?.img"
  [title]="(header | async)?.title"
  [subtitle]="'Contact'"
></bz-header>

<main class="contact">

  <form novalidate (submit)="sendMessage()" #contactForm="ngForm" *ngIf="!(sent | async)">

    <p class="contact__p">
      <input
        type="text"
        class="contact__input"
        placeholder="Your name *"
        name="name"
        [(ngModel)]="contact.name"
        required
        #name="ngModel"
        autofocus
      >
    </p>

    <p class="contact__p">
      <input
        type="email"
        class="contact__input"
        placeholder="Your email *"
        name="email"
        [(ngModel)]="contact.email"
        required
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        #email="ngModel"
      >
    </p>

    <p class="contact__p">
      <input
        type="text"
        class="contact__input"
        placeholder="Subject *"
        name="subject"
        [(ngModel)]="contact.subject"
        required
        #subject="ngModel"
      >
    </p>

    <p class="contact__p">
      <textarea
        name="message"
        class="contact__textarea"
        [(ngModel)]="contact.message"
        required
        #message="ngModel"
      ></textarea>
    </p>

    <p class="contact__p">
      <button
        class="contact__button"
        [disabled]="!contactForm.valid"
      >Send Message</button>
    </p>

  </form>

  <aside *ngIf="sent | async">
    Thanks a lot for your message, {{ contact.name }}
  </aside>

</main>